::-webkit-scrollbar {
    height: 15px;
    width: 15px;
    background: rgba(127, 127, 127, 0.1);
    overflow: overlay
}

::-webkit-scrollbar-thumb {
    background: rgba(127, 127, 127, 0.6);    
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
    box-shadow:  0px 0px 6px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-thumb:horizontal:hover{
    background-color: rgba(95, 91, 91, 0.7);
}
::-webkit-scrollbar-thumb:vertical:hover { 
    background-color: rgba(95, 91, 91, 0.7);
 }